body{
    background-color: red;
color:black;
 text-align:  center;
 margin: 100px 0;
 font-size: 20px
}
  main{
        max-width: 90%;
  }
  button{
       background-color: black
       color(srgb red green blue);
       padding: 10px
  }
  .img01{
      width: 110%;
  }